---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs_by_year = site.publications | sort: "date" | reverse %}
{% assign counter = pubs_by_year.size %}

{% assign pubs_by_year_group = pubs_by_year | group_by_exp:"post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for year in pubs_by_year_group %}
  <h2>{{ year.name }}</h2>

  {% assign categories = "book,journal,conference" | split: "," %}
  {% for cat in categories %}
    {% assign items = year.items | where: "category", cat %}
    
    {% assign shortvenues = items | map: "shortvenue" | uniq | sort %}
    {% for sv in shortvenues %}
      {% assign items_in_sv = items | where: "shortvenue", sv | sort: "date" | reverse %}
      {% for post in items_in_sv %}
        {% if cat == "book" %}
          <p>[{{ counter }}] 
            {% if post.authors %}{{ post.authors }}. {% endif %}
            {% if post.title %}{{ post.title }}. {% endif %}
            {% if post.venue %}<i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}.{% endif %}
          </p>
        {% else %}
          <p style="margin-bottom:-0.6em; text-indent:-2.4em; padding-left:2.4em;">
  [{{ counter }}]&nbsp;&nbsp;<strong>{{ post.title }}</strong>
  <ul style="margin-left:2.8em; padding-left:0.5em; line-height:1.2em;">
    {% if post.authors %}<li><em>{{ post.authors }}.</em></li>{% endif %}
    {% if post.venue %}<li><em>{{ post.venue }}{% if post.shortvenue %} ({{ post.shortvenue }}){% endif %}, {{ post.date | date: "%Y" }}.</em></li>{% endif %}
  </ul>
</p>
        {% endif %}
        {% assign counter = counter | minus: 1 %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

{% endfor %}